openapi: 3.1.0
info:
  version: 1.0.0
  title: Doppel
  description: APIs to interface with Doppel's core system for social engineering defense — Brand Protection
    alerts, URL scanning, reports, protected assets, and Human Risk Management campaigns.
  contact:
    name: Doppel API Support
    url: https://doppel.readme.io/
servers:
- url: https://api.doppel.com/v1
x-readme:
  parameter-ordering:
  - path
  - header
  - query
  - body
  - cookie
  - form
paths:
  /alert:
    post:
      description: 'Creates an alert for a specific entity (URL or phone number) within Doppel''s Brand
        Protection product.


        **Behavior:**

        - If an alert already exists for the entity, the existing alert is returned (HTTP 200).

        - If the alert exists but with a different brand than requested, returns HTTP 409.

        - After creation, the alert is automatically processed through Doppel''s triage workflow.

        - If `source` is provided, it must exactly match the "API value" field of an external source configured
        in your organization''s settings in Doppel Vision.


        **Returns HTTP 400 when:**

        - `entity` is missing, not a valid URL, or not a valid phone number.

        - `entity` is a protected asset (e.g. google.com).

        - `tags` is not a list of non-empty strings.

        - `source` does not match any configured external source for the organization.

        - `files` contains more than 10 items, duplicate file names, or is missing `file_to_upload`.

        '
      summary: Create Alert
      operationId: create_alert
      tags:
      - alerts
      x-google-backend:
        address: https://external-api-gateway-725058953679.us-west1.run.app
        jwt_audience: https://external-api-gateway-725058953679.us-west1.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
        deadline: 180
      parameters:
      - $ref: '#/components/parameters/XOrganizationCodeHeader'
      - name: Content-Type
        in: header
        required: true
        description: ''
        schema:
          type: string
          enum:
          - application/json
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - entity
              properties:
                entity:
                  type: string
                  description: URL or phone number to be alerted.
                  example: https://suspicious-site.example.com
                brand:
                  type: string
                  description: The brand name to associate with the alert. Must match an active (non-archived)
                    brand in your organization. Case-insensitive.
                  example: Acme Corp
                tags:
                  type: array
                  items:
                    type: string
                  description: 'Array of tag names to associate with the alert. Tags must already exist
                    for your organization or be global tags.

                    Tags that don''t exist will be silently ignored.

                    '
                  example:
                  - Credential Theft
                  - NSFW
                  - Malicious
                  - Spam
                source:
                  type: string
                  description: Custom API source identifier configured in organization settings in Doppel
                    Vision. Must exactly match the "API value" field of the desired source.
                  example: slack-integration
                files:
                  type: array
                  maxItems: 10
                  description: 'Optional list of files to upload with the alert. Each file must include
                    base64-encoded content. Maximum 10 files per request.

                    For Telco alerts, uploaded image files may also be used as the alert''s canonical
                    screenshot. If an uploaded Telco image is selected as the screenshot, Doppel stores
                    a separate screenshot copy for alert review and downstream enforcement workflows while
                    preserving the original Uploaded Files copy. Only upload image files that are appropriate
                    to display as alert evidence.'
                  items:
                    $ref: '#/components/schemas/FileInput'
        required: true
      responses:
        '200':
          description: Alert already exists
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertCreatedResponse'
        '201':
          description: Submitted report successfully
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertCreatedResponse'
        '400':
          description: Invalid input
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Brand not found or archived for this organization
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Alert already exists with a different brand
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertCreatedResponse'
        '429':
          description: Rate limit exceeded
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - api_key: []
        user_api_key: []
      x-google-quota:
        metricCosts:
          create-alert-request: 1
    get:
      description: 'Retrieves the details of a single alert by its ID or entity value.


        **You must provide exactly one of `id` or `entity`**. Providing neither or both returns HTTP 400.


        Returns the full alert object including audit logs, tags, entity content, and a signed screenshot
        URL (expires in 1 hour).

        '
      summary: Get Alert
      operationId: get-alert
      tags:
      - alerts
      x-google-backend:
        address: https://external-api-gateway-725058953679.us-west1.run.app
        jwt_audience: https://external-api-gateway-725058953679.us-west1.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
      parameters:
      - $ref: '#/components/parameters/XOrganizationCodeHeader'
      - name: id
        in: query
        required: false
        description: The alert ID (format ORG-1234). Mutually exclusive with `entity`.
        example: ACM-1234
        schema:
          type: string
      - name: entity
        in: query
        required: false
        description: The URL, phone number, or email of the alert to retrieve. Mutually exclusive with
          `id`.
        example: https://suspicious-site.example.com
        schema:
          type: string
      responses:
        '200':
          description: Alert successfully retrieved
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertResponse'
        '400':
          description: Invalid input
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Alert not found
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - api_key: []
        user_api_key: []
      x-google-quota:
        metricCosts:
          get-alert-request: 1
    put:
      description: 'Updates an alert''s information in Doppel''s system. Works across all modules.


        **You must provide exactly one of `id` or `entity`** to identify the alert. At least one field
        to update must be provided in the request body.


        **Paired parameters:**

        - `tag_action` and `tag_name` must both be provided together.

        - `file_action` and `files` must both be provided together.

        '
      summary: Update Alert
      operationId: update_alert
      tags:
      - alerts
      x-google-backend:
        address: https://external-api-gateway-725058953679.us-west1.run.app
        jwt_audience: https://external-api-gateway-725058953679.us-west1.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
        deadline: 30
      parameters:
      - $ref: '#/components/parameters/XOrganizationCodeHeader'
      - name: Content-Type
        in: header
        required: true
        description: ''
        schema:
          type: string
          enum:
          - application/json
      - name: id
        in: query
        required: false
        description: The alert ID (format ORG-1234). Mutually exclusive with `entity`.
        example: ACM-1234
        schema:
          type: string
      - name: entity
        in: query
        required: false
        description: The URL, phone number, or email of the alert to update. Mutually exclusive with `id`.
        example: https://suspicious-site.example.com
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                queue_state:
                  description: 'New queue state to update the alert with.

                    (Note: taken_down is equivalent to Resolved in the Doppel Vision App)

                    '
                  type: string
                  enum:
                  - doppel_review
                  - needs_confirmation
                  - actioned
                  - taken_down
                  - monitoring
                  - archived
                  example: actioned
                entity_state:
                  $ref: '#/components/schemas/EntityState'
                comment:
                  type: string
                  description: A new comment to add to the alert.
                  example: Confirmed phishing — proceeding with takedown.
                tag_action:
                  $ref: '#/components/schemas/TagActionType'
                tag_name:
                  type: string
                  description: Name of the tag to add or remove. Must be provided together with `tag_action`.
                  example: Credential Theft
                file_action:
                  $ref: '#/components/schemas/FileActionType'
                files:
                  type: array
                  maxItems: 10
                  description: 'List of files to upload or delete. Must be provided together with `file_action`.
                    Maximum 10 files per request. When file_action is "upload", each file must include
                    base64-encoded content in file_to_upload. When file_action is "delete", only file_name
                    is required.

                    For Telco alerts, uploaded image files may also be used as the alert''s canonical
                    screenshot. If an uploaded Telco image is selected as the screenshot, Doppel stores
                    a separate screenshot copy for alert review and downstream enforcement workflows while
                    preserving the original Uploaded Files copy. Deleting the uploaded-file copy does
                    not delete the canonical screenshot copy.'
                  items:
                    $ref: '#/components/schemas/FileInput'
        description: 'Fields to update on the alert. At least one field is required.

          `tag_action`/`tag_name` and `file_action`/`files` are paired — both in each pair must be provided
          together.

          '
      responses:
        '200':
          description: Updated alert successfully
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertResponse'
        '400':
          description: Invalid input
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Alert or tag not found
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - api_key: []
        user_api_key: []
      x-google-quota:
        metricCosts:
          update-alert-request: 1
  /alert/referrer:
    post:
      description: This endpoint submits referrer logs to Doppel for processing. These logs capture URLs
        that direct visitors to a site and may help identify threats or suspicious activity. Submitting
        a referrer log does not guarantee that an alert will be generated. Instead, the submitted URL
        will be analyzed as part of Doppel's referrer log processing.
      summary: Submit Referrer Logs
      operationId: submit-referrer-logs
      tags:
      - alerts
      x-google-backend:
        address: https://external-api-gateway-725058953679.us-west1.run.app
        jwt_audience: https://external-api-gateway-725058953679.us-west1.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
        deadline: 30
      security:
      - api_key: []
        user_api_key: []
      parameters:
      - $ref: '#/components/parameters/XOrganizationCodeHeader'
      - name: Content-Type
        in: header
        required: true
        description: ''
        schema:
          type: string
          enum:
          - application/json
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - referrer_url
              properties:
                referrer_url:
                  type: string
                  description: The referrer URL where the user came from (required). Must not be a known
                    protected asset for your organization.
                  example: https://suspicious-referrer.example.com/phish
                destination_url:
                  type: string
                  description: The URL where the user navigated to (optional). If provided and not already
                    a known protected asset, it will be automatically added as a protected asset for your
                    organization.
                  example: https://your-company.com/login
        description: Referrer log information to be submitted
        required: true
      x-google-quota:
        metricCosts:
          submit-referrer-logs-request: 1
      responses:
        '202':
          description: Request accepted for processing - URL has been submitted for potential alert creation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Successful referrer log submission.
        '400':
          description: Bad request - missing required field, invalid URL format, or URL is a known internal
            asset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /alerts:
    get:
      description: 'Returns a paginated list of alerts across all modules, with support for filtering
        and sorting.


        **Sorting:** If `sort_type` is provided, `sort_order` must also be provided. If neither is provided,
        defaults to `date_sourced` descending.


        **Pagination:** Zero-indexed. Default page_size is 30, maximum is 200.


        **Note:** In this endpoint''s response, the alert timestamp field is named `last_activity_timestamp`
        (instead of `last_activity` as returned by GET /alert, PUT /alert, and POST /alert).

        '
      summary: Get Alerts
      operationId: get-alerts
      x-google-backend:
        address: https://external-api-gateway-725058953679.us-west1.run.app
        jwt_audience: https://external-api-gateway-725058953679.us-west1.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
        deadline: 60
      tags:
      - alerts
      parameters:
      - $ref: '#/components/parameters/XOrganizationCodeHeader'
      - name: search_key
        in: query
        description: Search alerts by URL. Currently only URL search is supported.
        required: false
        example: example.com
        schema:
          type: string
      - $ref: '#/components/parameters/QueueStateFilter'
      - $ref: '#/components/parameters/Product'
      - name: created_before
        in: query
        description: Filter alerts created before this date (ISO 8601 format).
        required: false
        example: '2024-01-05T13:45:30'
        schema:
          type: string
          format: date-time
      - name: created_after
        in: query
        description: Filter alerts created after this date (ISO 8601 format).
        required: false
        example: '2024-01-01T00:00:00'
        schema:
          type: string
          format: date-time
      - name: last_activity_timestamp
        in: query
        description: Filter alerts with last activity at or after this date (ISO 8601 format).
        required: false
        example: '2024-01-05T13:45:30'
        schema:
          type: string
          format: date-time
      - $ref: '#/components/parameters/SortType'
      - $ref: '#/components/parameters/SortOrder'
      - name: page
        in: query
        description: Page number for pagination (zero-indexed). Defaults to 0.
        required: false
        schema:
          type: integer
          default: 0
      - name: page_size
        in: query
        description: Number of alerts per page (default 30, max 200)
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 200
          default: 30
      - name: tags
        in: query
        description: Comma-separated list of tag names to filter alerts by.
        required: false
        example: Credential Theft,Malicious
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  alerts:
                    type: array
                    items:
                      $ref: '#/components/schemas/AlertResponse'
                  metadata:
                    type: object
                    properties:
                      count:
                        type: integer
                        description: Total count of alerts
                      page:
                        type: integer
                        description: Current page number
                      total_pages:
                        type: integer
                        description: Total number of pages
                      page_size:
                        type: integer
                        description: Number of alerts per page
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - api_key: []
        user_api_key: []
      x-google-quota:
        metricCosts:
          get-alerts-request: 1
  /brands:
    get:
      description: List active brands for the authenticated organization. Filter by brand_type (organization_brand
        or personal_brand) and/or name, with pagination support. Only returns active brands (archived
        brands are excluded).
      summary: List Brands
      operationId: list-brands
      tags:
      - brands
      x-google-backend:
        address: https://external-api-gateway-725058953679.us-west1.run.app
        jwt_audience: https://external-api-gateway-725058953679.us-west1.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
      parameters:
      - $ref: '#/components/parameters/XOrganizationCodeHeader'
      - name: brand_type
        in: query
        description: Filter by brand type (organization_brand or personal_brand)
        required: false
        schema:
          type: string
          enum:
          - organization_brand
          - personal_brand
      - name: name
        in: query
        description: Search by brand name (case-insensitive contains)
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of results to return
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 100
      - name: offset
        in: query
        description: Number of results to skip for pagination
        required: false
        schema:
          type: integer
          minimum: 0
          default: 0
      responses:
        '200':
          description: Successfully retrieved brands
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBrandResponse'
        '400':
          description: Invalid request parameters
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Invalid query parameter (e.g. out-of-range limit/offset, invalid brand_type)
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - api_key: []
        user_api_key: []
  /brands/{brand_id}:
    delete:
      description: Delete (archive) a brand by ID. This soft-deletes the brand by setting its status to
        archived, along with disabling related sourcing queries, trademarks, customer assets, and designated
        takedown assets.
      summary: Delete Brand
      operationId: delete-brand
      tags:
      - brands
      x-google-backend:
        address: https://external-api-gateway-725058953679.us-west1.run.app
        jwt_audience: https://external-api-gateway-725058953679.us-west1.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
      parameters:
      - $ref: '#/components/parameters/XOrganizationCodeHeader'
      - name: brand_id
        in: path
        description: UUID of the brand to delete
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Brand successfully deleted
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    description: UUID of the deleted brand
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Brand not found
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Invalid request - malformed UUID in path
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - api_key: []
        user_api_key: []
  /hrm/campaigns:
    get:
      description: List phishing simulation campaigns for the authenticated organization. Supports filtering
        by status, campaign type, date range, and test flag. Returns paginated results.
      summary: List Campaigns
      operationId: list-hrm-campaigns
      tags:
      - hrm
      x-google-backend:
        address: https://external-api-gateway-725058953679.us-west1.run.app
        jwt_audience: https://external-api-gateway-725058953679.us-west1.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
      parameters:
      - $ref: '#/components/parameters/XOrganizationCodeHeader'
      - name: status
        in: query
        description: Filter by campaign status (e.g. pending, in_progress, finished)
        schema:
          type: string
      - name: campaign_type
        in: query
        description: Filter by campaign type (e.g. simulation)
        schema:
          type: string
      - name: launch_date_after
        in: query
        description: Filter campaigns launched after this ISO 8601 date
        schema:
          type: string
      - name: launch_date_before
        in: query
        description: Filter campaigns launched before this ISO 8601 date
        schema:
          type: string
      - name: is_test
        in: query
        description: Include test campaigns (defaults to false)
        schema:
          type: boolean
          default: false
      - name: sort_by
        in: query
        description: 'Sort field: launch_date, created_at, or name'
        schema:
          type: string
          default: created_at
      - name: sort_order
        in: query
        description: 'Sort order: asc or desc'
        schema:
          type: string
          default: desc
      - name: limit
        in: query
        description: Maximum number of results to return
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 100
      - name: offset
        in: query
        description: Number of results to skip for pagination
        schema:
          type: integer
          minimum: 0
          default: 0
      responses:
        '200':
          description: List of campaigns
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCampaignsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - api_key: []
        user_api_key: []
  /hrm/campaigns/{campaign_id}:
    get:
      description: Get a single phishing simulation campaign by ID for the authenticated organization.
      summary: Get Campaign
      operationId: get-hrm-campaign
      tags:
      - hrm
      x-google-backend:
        address: https://external-api-gateway-725058953679.us-west1.run.app
        jwt_audience: https://external-api-gateway-725058953679.us-west1.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
      parameters:
      - $ref: '#/components/parameters/XOrganizationCodeHeader'
      - name: campaign_id
        in: path
        required: true
        description: Campaign ID
        schema:
          type: string
      responses:
        '200':
          description: Campaign details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HrmCampaignResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Campaign not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - api_key: []
        user_api_key: []
  /hrm/events:
    get:
      description: List phishing simulation user events (observations) for the authenticated organization.
        Events track user interactions with phishing campaigns such as email opens, link clicks, data
        submissions, and reports. Includes joined user context (name, department, email) in each event.
        Supports filtering by campaign, action type, user attributes, and date range.
      summary: List Events
      operationId: list-hrm-events
      tags:
      - hrm
      x-google-backend:
        address: https://external-api-gateway-725058953679.us-west1.run.app
        jwt_audience: https://external-api-gateway-725058953679.us-west1.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
      parameters:
      - $ref: '#/components/parameters/XOrganizationCodeHeader'
      - name: campaign_id
        in: query
        description: Filter events by campaign ID
        schema:
          type: string
      - name: action
        in: query
        description: Filter by event type (e.g. email_opened, link_visited, data_submitted, email_reported)
        schema:
          type: string
      - name: sim_user_id
        in: query
        description: Filter events by sim user ID
        schema:
          type: string
      - name: department
        in: query
        description: Filter events by user department
        schema:
          type: string
      - name: manager_email
        in: query
        description: Filter events by user manager email
        schema:
          type: string
      - name: country
        in: query
        description: Filter events by user country
        schema:
          type: string
      - name: date_after
        in: query
        description: Filter events created after this ISO 8601 date
        schema:
          type: string
      - name: date_before
        in: query
        description: Filter events created before this ISO 8601 date
        schema:
          type: string
      - name: sort_by
        in: query
        description: 'Sort field: created_at'
        schema:
          type: string
          default: created_at
      - name: sort_order
        in: query
        description: 'Sort order: asc or desc'
        schema:
          type: string
          default: desc
      - name: limit
        in: query
        description: Maximum number of results to return
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 100
      - name: offset
        in: query
        description: Number of results to skip for pagination
        schema:
          type: integer
          minimum: 0
          default: 0
      responses:
        '200':
          description: List of events
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEventsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - api_key: []
        user_api_key: []
  /phishing/track:
    get:
      description: Tracks user interactions with phishing simulation campaign emails. This endpoint records
        various actions such as email opens, link clicks, form submissions, and email reports while returning
        a transparent tracking pixel.
      summary: Track Phishing Campaign Actions
      operationId: track_campaign_actions
      tags:
      - phishing-simulation
      parameters:
      - name: email_id
        in: query
        required: false
        description: Identifier for the simulation email being tracked (deprecated)
        schema:
          type: string
      - name: short_id
        in: query
        required: true
        description: Identifier for the simulation attack instance being tracked
        schema:
          type: string
      - name: action
        in: query
        required: true
        description: Type of action being tracked
        schema:
          type: string
          enum:
          - EMAIL_OPENED
          - LINK_CLICKED
          - FORM_SUBMITTED
          - EMAIL_REPORTED
      responses:
        '200':
          description: Tracking pixel returned successfully and interaction recorded
          content:
            image/png:
              schema:
                type: string
                format: binary
        '400':
          description: Missing required tracking parameters
          content:
            image/png:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            image/png:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            image/png:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security: []
      x-google-backend:
        address: https://track-campaign-actions-725058953679.us-west1.run.app
        jwt_audience: https://track-campaign-actions-725058953679.us-west1.run.app
        deadline: 10
        path_translation: APPEND_PATH_TO_ADDRESS
      x-google-quota:
        metricCosts:
          track-campaign-action-request: 1
  /protected-asset:
    post:
      description: Create a new protected asset for one or more brands. Protected assets are URLs, handles,
        or identifiers that your organization wants to monitor for unauthorized use. The asset must be
        unique per organization, and the brands must belong to your organization.
      summary: Create Protected Asset
      operationId: create-protected-asset
      tags:
      - protected-assets
      x-google-backend:
        address: https://external-api-gateway-725058953679.us-west1.run.app
        jwt_audience: https://external-api-gateway-725058953679.us-west1.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
        deadline: 30
      parameters:
      - $ref: '#/components/parameters/XOrganizationCodeHeader'
      - name: Content-Type
        in: header
        required: true
        description: ''
        schema:
          type: string
          enum:
          - application/json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProtectedAssetRequest'
        required: true
      responses:
        '201':
          description: Protected asset created successfully
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateProtectedAssetResponse'
        '400':
          description: Invalid request parameters
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Brand(s) not found
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Asset already exists but is archived
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error - invalid request body (e.g., missing required fields, invalid
            format)
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: array
                    items:
                      type: object
        '429':
          description: Rate limit exceeded
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - api_key: []
        user_api_key: []
  /protected-asset/{id}:
    delete:
      x-google-quota:
        metricCosts:
          delete-protected-asset-request: 1
      description: Delete a protected asset. This removes the asset from your organization's protected
        assets list, meaning it will no longer suppress alerts for matching content.
      summary: Delete Protected Asset
      operationId: delete-protected-asset
      tags:
      - protected-assets
      x-google-backend:
        address: https://external-api-gateway-725058953679.us-west1.run.app
        jwt_audience: https://external-api-gateway-725058953679.us-west1.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
        deadline: 30
      parameters:
      - $ref: '#/components/parameters/XOrganizationCodeHeader'
      - name: id
        in: path
        required: true
        description: The unique identifier (UUID) of the protected asset to delete
        schema:
          type: string
      responses:
        '200':
          description: Protected asset deleted successfully
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteProtectedAssetResponse'
        '400':
          description: Invalid request parameters (e.g., invalid UUID format)
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Protected asset not found or does not belong to your organization
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - api_key: []
        user_api_key: []
  /protected-assets:
    get:
      description: List protected assets for the authenticated organization. Filter by platform and/or
        brand IDs/brand names, with pagination support. Protected assets are URLs, handles, or identifiers
        that your organization wants to monitor for unauthorized use across various platforms.
      summary: List Protected Assets
      operationId: list-protected-assets
      tags:
      - protected-assets
      x-google-backend:
        address: https://external-api-gateway-725058953679.us-west1.run.app
        jwt_audience: https://external-api-gateway-725058953679.us-west1.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
      parameters:
      - $ref: '#/components/parameters/XOrganizationCodeHeader'
      - name: platform_name
        in: query
        description: Filter by platform (e.g., linkedin, facebook, twitter, domains, instagram)
        required: false
        schema:
          type: string
          enum:
          - domains
          - twitter
          - facebook
          - instagram
          - youtube
          - tiktok
          - linkedin
          - reddit
          - github
          - telegram
          - discord
          - pinterest
          - snapchat
          - whatsapp
          - medium
          - tumblr
          - twitch
          - spotify
          - threads
          - bluesky
          - truth_social
          - weibo
          - wechat
          - apple_app_store
          - google_play_store
          - amazon
          - ebay
          - alibaba
          - etsy
          - walmart
          - shopee
          - facebook_marketplace
          - coinbase
          - binance
          - opensea
          - email
          - darkweb
          - telco
          - google_ads
          - facebook_ads
          - bing_ads
      - name: brand_ids
        in: query
        description: Filter by multiple brand IDs (comma-separated, max 100)
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
          maxItems: 100
      - name: brand_names
        in: query
        description: Filter by multiple brand names (comma-separated, case-insensitive, max 100)
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
          maxItems: 100
      - name: limit
        in: query
        description: Maximum number of results to return
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 100
      - name: offset
        in: query
        description: Number of results to skip for pagination
        required: false
        schema:
          type: integer
          minimum: 0
          default: 0
      responses:
        '200':
          description: Successfully retrieved protected assets
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListProtectedAssetsResponse'
        '400':
          description: Invalid request parameters
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error - invalid query parameters (e.g., invalid enum value, out of range)
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: array
                    items:
                      type: object
        '429':
          description: Rate limit exceeded
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - api_key: []
        user_api_key: []
  /report:
    get:
      description: Retrieves the report details by URL or ID. Must include exactly one of either `url`,
        `id` or `display_id`.
      summary: Get Report
      deprecated: true
      operationId: get_report
      tags:
      - reports
      x-google-backend:
        address: https://external-api-gateway-725058953679.us-west1.run.app
        jwt_audience: https://external-api-gateway-725058953679.us-west1.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
      parameters:
      - $ref: '#/components/parameters/XOrganizationCodeHeader'
      - name: url
        in: query
        required: false
        description: The reported URL to retrieve details for
        schema:
          type: string
          format: uri
      - name: id
        in: query
        required: false
        description: The report ID to retrieve details for
        schema:
          type: string
      - name: display_id
        in: query
        required: false
        description: The report's display ID to retrieve details for
        schema:
          type: string
      responses:
        '200':
          description: Report successfully retrieved
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportResponse'
        '400':
          description: Invalid input
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Report not found
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - api_key: []
        user_api_key: []
      x-google-quota:
        metricCosts:
          get-report-request: 1
    post:
      description: Submit a report for the provided URL. Will fail if the URL is invalid or is protected
        (e.g. google.com) in Doppel's system.
      summary: Submit Report
      deprecated: true
      operationId: submit_report
      tags:
      - reports
      x-google-backend:
        address: https://external-api-gateway-725058953679.us-west1.run.app
        jwt_audience: https://external-api-gateway-725058953679.us-west1.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
        deadline: 30
      parameters:
      - $ref: '#/components/parameters/XOrganizationCodeHeader'
      - name: Content-Type
        in: header
        required: true
        description: ''
        schema:
          type: string
          enum:
          - application/json
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - url
              properties:
                url:
                  type: string
                  description: URL to be reported.
                screenshot_url:
                  type: string
                  description: URL of the customer uploaded screenshot associated with this report.
        required: true
      responses:
        '200':
          description: Existing report found
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportResponse'
        '201':
          description: Submitted report successfully
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportResponse'
        '400':
          description: Invalid input
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - api_key: []
        user_api_key: []
      x-google-quota:
        metricCosts:
          submit-report-request: 1
    put:
      description: Updates a report in the system with certain parameters.
      summary: Update Report
      deprecated: true
      operationId: update_report
      tags:
      - reports
      x-google-backend:
        address: https://external-api-gateway-725058953679.us-west1.run.app
        jwt_audience: https://external-api-gateway-725058953679.us-west1.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
        deadline: 30
      parameters:
      - $ref: '#/components/parameters/XOrganizationCodeHeader'
      - name: Content-Type
        in: header
        required: true
        description: ''
        schema:
          type: string
          enum:
          - application/json
      - name: url
        in: query
        required: false
        description: One of the reports urls to update
        schema:
          type: string
          format: uri
      - name: id
        in: query
        required: false
        description: The id of the report to update
        schema:
          type: string
      - name: display_id
        in: query
        required: false
        description: The display ID of the report to update
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                notes:
                  type: string
                  description: New notes to update report with (id or display id required)
                report_status:
                  $ref: '#/components/schemas/ReportStatus'
                classification:
                  $ref: '#/components/schemas/ReportClassification'
      responses:
        '200':
          description: Existing report found
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportResponse'
        '201':
          description: Updated report successfully
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportResponse'
        '400':
          description: Invalid input
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - api_key: []
        user_api_key: []
      x-google-quota:
        metricCosts:
          update-report-request: 1
  /reports:
    get:
      description: Retrieves a list of reports. Can be filtered by various parameters.
      summary: Get Reports
      deprecated: true
      operationId: get_reports
      x-google-backend:
        address: https://external-api-gateway-725058953679.us-west1.run.app
        jwt_audience: https://external-api-gateway-725058953679.us-west1.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
      tags:
      - reports
      parameters:
      - $ref: '#/components/parameters/XOrganizationCodeHeader'
      - name: search_key
        in: query
        description: Currently only supports search by url
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/ReportStatusFilter'
      - $ref: '#/components/parameters/Product'
      - name: sourced_before
        in: query
        description: Filter reports sourced before this date. '2024-01-05T13:45:30' -- Represents the
          5th of January 2024, at 1:45:30 PM
        required: false
        schema:
          type: string
          format: date-time
      - name: sourced_after
        in: query
        description: Filter reports sourced after this date. '2024-01-05T13:45:30' -- Represents the 5th
          of January 2024, at 1:45:30 PM
        required: false
        schema:
          type: string
          format: date-time
      - $ref: '#/components/parameters/SortType'
      - $ref: '#/components/parameters/SortOrder'
      - name: page
        in: query
        description: Page number for pagination; defaults to 0
        required: false
        schema:
          type: integer
      - name: page_size
        in: query
        description: Number of reports per page (default 30, max 200)
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 200
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      reports:
                        type: array
                        items:
                          $ref: '#/components/schemas/ReportResponse'
                  metadata:
                    type: object
                    properties:
                      count:
                        type: integer
                        description: Total count of reports
                      page:
                        type: integer
                        description: Current page number
                      pages:
                        type: integer
                        description: Total number of pages
                      page_size:
                        type: integer
                        description: Number of reports per page
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - api_key: []
        user_api_key: []
      x-google-quota:
        metricCosts:
          get-reports-request: 1
  /scan:
    post:
      description: Submit a URL for analysis to determine if it contains potentially suspicious or malicious
        content. Doppel will analyze the submitted URL and categorize its suspiciousness on a scale of
        low, medium, and high. Based on the suspiciousness of the URL, an alert can be created in our
        system, facilitating further triage actions.
      summary: Submit Scan Url
      operationId: scan
      tags:
      - scan
      x-google-backend:
        address: https://external-api-gateway-725058953679.us-west1.run.app
        jwt_audience: https://external-api-gateway-725058953679.us-west1.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
        deadline: 30
      parameters:
      - $ref: '#/components/parameters/XOrganizationCodeHeader'
      - name: Content-Type
        in: header
        required: true
        description: ''
        schema:
          type: string
          enum:
          - application/json
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - url
              properties:
                url:
                  type: string
                  description: URL to scan
                  format: uri
                  example: https://example.com
                associated_urls:
                  type: array
                  description: URLs associated with the main URL
                  items:
                    type: string
                    format: uri
                  example:
                  - https://associated1.com
                  - https://associated2.com
        required: true
      responses:
        '201':
          description: Scan for URL created successfully
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  scan_id:
                    type: string
                    format: uuid
                    description: ID of the created scan
        '400':
          description: Invalid input
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - api_key: []
        user_api_key: []
      x-google-quota:
        metricCosts:
          submit-scan-request: 1
  /scan/result:
    get:
      description: Get the suspiciousness result of a scan given the submitted scan's ID.
      summary: Get Scan Result
      operationId: get_scan_result
      tags:
      - scan
      x-google-backend:
        address: https://external-api-gateway-725058953679.us-west1.run.app
        jwt_audience: https://external-api-gateway-725058953679.us-west1.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
        deadline: 30
      parameters:
      - $ref: '#/components/parameters/XOrganizationCodeHeader'
      - name: scan_id
        in: query
        required: true
        description: ID of the scan to retrieve results for
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successfully retrieved scan results
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                    - PENDING
                    - COMPLETED
                    description: Current status of the scan
                  url:
                    type: string
                    description: URL that was submitted to be scanned for suspiciousness
                  scan_id:
                    type: string
                    format: uuid
                    description: ID of the scan
                  results:
                    type: array
                    description: Array of scan results (empty if status is PENDING)
                    items:
                      type: object
                      properties:
                        suspiciousness:
                          type: string
                          description: Suspiciousness of the scan result
                          enum:
                          - low
                          - medium
                          - high
                          - na
                        category:
                          type: string
                          description: Scan Type - what type of scan was performed
                          enum:
                          - phishing
                        scan_data:
                          type: object
                          description: Additional data about the scan result
                          additionalProperties: true
                        created_at:
                          type: string
                          format: date-time
                          description: Timestamp when the scan result was created
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Scan not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - api_key: []
        user_api_key: []
      x-google-quota:
        metricCosts:
          get-scan-result-request: 1
webhooks:
  alert_updated:
    post:
      operationId: alert_updated
      summary: Alert Updated
      description: This webhook is fired when an alert is updated in our system.
      tags:
      - alerts
      requestBody:
        description: Information about the Alert that was updated. The alert ID, the alert's Doppel URL,
          its display ID, and other relevant miscellaeneous fields are also included.
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Top-level webhook payload, containing the event type and the event-specific
                payload.
              required:
              - event_type
              - timestamp
              - updated_values
              - initial_values
              - alert
              properties:
                event_type:
                  type: string
                  description: The type of event that occurred.
                  enum:
                  - alert_updated
                timestamp:
                  type: string
                  format: date-time
                  description: Timestamp of the alert update.
                updated_values:
                  type: object
                  description: Key-value pairs of fields that were updated in the alert.
                  properties:
                    queue_state:
                      example: doppel_review
                      type: string
                    entity_state:
                      example: active
                      type: string
                    notes:
                      example: Custom alert notes here.
                      type: string
                    tag_add:
                      example: example_tag
                      type: string
                    tag_remove:
                      example: example_tag
                      type: string
                    file_action:
                      example: Uploaded file.txt
                      type: string
                    severity:
                      example: high
                      type: string
                initial_values:
                  type: object
                  description: Initial key-value pairs of fields that were updated in the alert.
                  properties:
                    queue_state:
                      example: monitoring
                      type: string
                    entity_state:
                      example: down
                      type: string
                    notes:
                      example: Custom alert notes here.
                      type: string
                    tag_add:
                      example: example_tag
                      type: string
                    tag_remove:
                      example: example_tag
                      type: string
                    file_action:
                      example: Uploaded file.txt
                      type: string
                    severity:
                      example: low
                      type: string
                alert:
                  $ref: '#/components/schemas/AlertUpdatedPayload'
      responses:
        '201':
          description: Webhook notification received successfully, and acted upon synchronously.
        '202':
          description: Webhook notification received successfully, but will be acted upon asynchronously.
        '400':
          description: Invalid payload received.
  hrm_event:
    post:
      operationId: hrm_event
      summary: HRM Campaign Event
      description: 'This webhook is fired when a Human Risk Management (HRM) phishing simulation campaign
        engagement event is recorded. Events include attack delivery (email_sent), target interactions
        (email_opened, link_visited, data_submitted), training outcomes (training_accessed, quiz_passed,
        quiz_failed), reporting (email_reported), voice call results (call_answered, call_missed), and
        voice behavior analysis labels (refusal, disclosure_full, security_escalation, etc.).

        '
      tags:
      - hrm
      requestBody:
        description: 'Information about the HRM campaign engagement event, including the action type,
          campaign and user identifiers, and optional context like attack vector and device type. For
          Splunk integrations, this payload is wrapped in a Splunk HEC envelope with sourcetype "doppel_hrm_events".

          '
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Top-level webhook payload, containing the event type and the event-specific
                payload.
              required:
              - event_type
              - timestamp
              - payload
              properties:
                event_type:
                  type: string
                  description: The type of event that occurred.
                  enum:
                  - hrm_event
                timestamp:
                  type: string
                  format: date-time
                  description: Timestamp of when the event was recorded.
                  example: '2026-03-12T17:15:00.123456'
                payload:
                  $ref: '#/components/schemas/HrmEventPayload'
      responses:
        '201':
          description: Webhook notification received successfully, and acted upon synchronously.
        '202':
          description: Webhook notification received successfully, but will be acted upon asynchronously.
        '400':
          description: Invalid payload received.
  ioc_updated:
    post:
      operationId: ioc_updated
      summary: IOC Updated Webhook
      description: This webhook is fired whenever an IOC is updated in our system. Please contact our
        team if you are interested in subscribing to this webhook.
      tags:
      - iocs
      requestBody:
        description: Information about the IOC event.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IOCUpdatedPayload'
      responses:
        '201':
          description: Webhook notification received successfully, and acted upon synchronously.
        '202':
          description: Webhook notification received successfully, but will be acted upon asynchronously.
        '400':
          description: Invalid payload received.
  report_surfaced:
    post:
      operationId: report_surfaced
      summary: Report Surfaced
      description: This webhook is fired when a report is surfaced in our system. The new report may have
        any number of URLs associated with it, and may contain audit logs for events prior to surfacing.
      tags:
      - reports (deprecated)
      requestBody:
        description: Information about the Report Surfaced event, including the report ID, the list of
          surfaced URLs, the report's Doppel URL, and its display ID. Subscribing endpoints will receive
          a JSON object with the following fields.
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Top-level webhook payload, containing the event type and the event-specific
                payload.
              required:
              - event_type
              - payload
              properties:
                event_type:
                  type: string
                  description: The type of event that occurred.
                  enum:
                  - report_surfaced
                payload:
                  $ref: '#/components/schemas/ReportSurfacedPayload'
      responses:
        '201':
          description: Webhook notification received successfully, and acted upon synchronously.
        '202':
          description: Webhook notification received successfully, but will be acted upon asynchronously.
        '400':
          description: Invalid payload received.
  sms_response:
    post:
      operationId: sms_response
      summary: SMS Response
      description: This webhook is fired whenever an SMS response is received from a Twilio outreach campaign.
      tags:
      - sms_responses
      requestBody:
        description: Information about the SMS Response event, including the message details, sender information,
          and campaign context. Subscribing endpoints will receive a JSON object with the following fields.
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Top-level webhook payload, containing the event type and the event-specific
                payload.
              required:
              - event_type
              - payload
              properties:
                event_type:
                  type: string
                  description: The type of event that occurred.
                  enum:
                  - sms_response
                payload:
                  $ref: '#/components/schemas/SMSResponsePayload'
      responses:
        '201':
          description: Webhook notification received successfully, and acted upon synchronously.
        '202':
          description: Webhook notification received successfully, but will be acted upon asynchronously.
        '400':
          description: Invalid payload received.
  url_surfaced:
    post:
      operationId: url_surfaced
      summary: URL Surfaced
      description: This webhook is fired whenever any URL appears in our system. The new URL may be associated
        with a newly-created or already-existing report.
      tags:
      - urls
      requestBody:
        description: Information about the URL Surfaced event, such as the URL, the report ID it is associated
          with, and the Doppel URL of the report. Subscribing endpoints will receive a JSON object with
          the following fields.
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Top-level webhook payload, containing the event type and the event-specific
                payload.
              required:
              - event_type
              - payload
              properties:
                event_type:
                  type: string
                  description: The type of event that occurred.
                  enum:
                  - url_surfaced
                payload:
                  $ref: '#/components/schemas/UrlSurfacedPayload'
      responses:
        '201':
          description: Webhook notification received successfully, and acted upon synchronously.
        '202':
          description: Webhook notification received successfully, but will be acted upon asynchronously.
        '400':
          description: Invalid payload received.
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
      description: API key from Doppel Vision API settings. Required for gateway authentication and quota.
    user_api_key:
      type: apiKey
      name: x-user-api-key
      in: header
      description: User API key from Doppel Vision API settings. Required together with x-api-key for
        authenticated requests.
  schemas:
    AlertCreatedResponse:
      title: AlertCreatedResponse
      description: 'Lightweight response returned by POST /alert. Contains the alert ID and link but not
        the full alert details.

        Use GET /alert with the returned `id` to retrieve the full alert object.

        '
      type: object
      properties:
        id:
          type: string
          description: Alert ID in the format ORG-NUMBER (e.g. ACM-1234).
          example: ACM-1234
        entity:
          description: The URL or phone number submitted for the alert.
          type: string
          example: https://suspicious-site.example.com
        doppel_link:
          description: Direct link to the alert in the Doppel Vision web app.
          type: string
          example: https://app.doppel.com/alerts/ACM-1234
        last_activity:
          description: Timestamp of the most recent activity on this alert (ISO 8601).
          type: string
          format: date-time
          example: '2024-06-15T10:30:00'
        message:
          description: Additional context about the response. Present when the alert already exists (e.g.
            "Alert exists but with different brand. To update brand contact support.").
          type: string
        file_results:
          description: Results of file operations, only present when files were included in the request.
          type: array
          items:
            $ref: '#/components/schemas/FileResult'
    AlertDarkWebCredentialData:
      type: object
      description: If the alert is a Credential Leak from Dark Web, this contains its credential data.
      properties:
        credential_url:
          type: string
          description: URL in which the leaked credentials were found.
        network:
          type: string
          description: Network of the URL in which the leaked credentials were found.
          example: ONION.V2
        email:
          type: string
          description: Email of the leaked credentials.
        password:
          type: string
          description: Password of the leaked credentials.
    AlertResponse:
      title: AlertResponse
      description: 'Full alert object returned by GET /alert, GET /alerts, and PUT /alert.

        Represents a single threat alert tracked by Doppel across any product type (domains, social media,
        mobile apps, etc.).

        '
      type: object
      properties:
        id:
          type: string
          description: Alert ID in the format ORG-NUMBER (e.g. ACM-1234). The prefix is your organization's
            abbreviation.
          example: ACM-1234
        entity:
          description: The URL, phone number, or email being tracked by this alert.
          type: string
          example: https://suspicious-site.example.com
        brand:
          description: The brand name this alert is associated with.
          type: string
          example: Acme Corp
        doppel_link:
          description: Direct link to this alert in the Doppel Vision web app.
          type: string
          example: https://app.doppel.com/alerts/ACM-1234
        queue_state:
          $ref: '#/components/schemas/QueueState'
        entity_state:
          $ref: '#/components/schemas/EntityState'
        severity:
          $ref: '#/components/schemas/Severity'
        source:
          $ref: '#/components/schemas/ReportSource'
        product:
          $ref: '#/components/schemas/Product'
        platform:
          description: The specific platform the alert is associated with (e.g. Twitter, Facebook, Linkedin).
            More granular than product.
          type: string
          example: twitter
        notes:
          description: Latest comment associated with the alert.
          type: string
        uploaded_by:
          description: Email of the user who submitted the alert, or "Doppel" if sourced automatically.
          type: string
          example: jane.doe@company.com
        assignee:
          description: Email of the user currently assigned to handle this alert.
          type: string
          example: john.doe@company.com
        created_at:
          description: Timestamp when the alert was created (ISO 8601).
          type: string
          format: date-time
          example: '2024-06-15T10:30:00'
        screenshot_url:
          description: Signed URL of the screenshot associated with the alert. Expires after 1 hour. May
            be null if no screenshot is available.
          type: string
        audit_logs:
          description: Chronological list of visible changes made to this alert.
          type: array
          items:
            $ref: '#/components/schemas/AuditLog'
        tags:
          description: List of tags associated with this alert.
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: The name of the tag.
            example:
              name: Credential Theft
        entity_content:
          $ref: '#/components/schemas/EntityContent'
        last_activity:
          description: 'Timestamp of the most recent activity on this alert (ISO 8601).

            Note: GET /alerts returns this field as `last_activity_timestamp` instead.

            '
          type: string
          format: date-time
          example: '2024-06-20T14:00:00'
        score:
          description: 'Numeric severity score for the alert, ranging from 0.0 to 1.0 (higher = more severe).
            May be null.

            '
          type: number
          format: float
          minimum: 0
          maximum: 1
        file_results:
          description: Results of file operations, only present when files were included in the request
            (PUT /alert).
          type: array
          items:
            $ref: '#/components/schemas/FileResult'
        alert_summary:
          description: 'AI-generated summary of the alert, returned by GET /alert, GET /alerts, and PUT
            /alert.

            May be null when summary generation is still in progress, no visible summary exists, or

            the summary is withheld for restricted users on redacted dark-web alerts.

            '
          type: string
          example: This alert tracks a phishing domain impersonating Acme Corp login pages.
    AlertUpdatedPayload:
      type: object
      description: Payload type for the "Alert Updated" webhook.
      required:
      - id
      - doppel_link
      - created_at
      - entity
      - entity_state
      - queue_state
      - severity
      - product
      - source
      - notes
      - uploaded_by
      - tags
      properties:
        id:
          type: string
          description: ID of the surfaced alert.
          example: ABC-12345
        doppel_link:
          type: string
          description: Accessible link to the surfaced alert in Doppel Vision.
          example: https://app.doppel.com/domains/ABC-12345
        created_at:
          type: string
          format: date-time
          description: Timestamp of when the alert was initially created.
          example: '2024-08-20T15:30:00Z'
        entity:
          type: string
          description: Value representing the potentially malicious entity identified by the alert.
          example: https://example.surfaced-domain.com
        entity_state:
          type: string
          description: Current state of the potentially malicious entity identified by the alert.
          example: active
        queue_state:
          type: string
          description: Current queue that the potentially malicious entity is in.
          example: doppel_review
        severity:
          type: string
          description: Severity of the alert's suspiciousness.
          example: high
        product:
          type: string
          description: Product type associated with the alert.
          example: domains
        source:
          type: string
          description: Source of the alert.
          example: whoisxml_streaming
        notes:
          type: string
          description: Notes associated with the alert.
          example: This alert was marked as 'down' on 2024-08-20.
        uploaded_by:
          type: string
          description: Email of the Doppel user who uploaded the alert.
          example: example@gmail.com
        tags:
          type: array
          description: A list of external tags associated with the alert.
          items:
            type: object
            properties:
              name:
                type: string
                description: The name of the tag.
        brand:
          type: string
          nullable: true
          description: The brand associated with the alert.
        brand_type:
          type: string
          nullable: true
          description: The brand type associated with the alert (for example, organization_brand or personal_brand).
        credential_data:
          $ref: '#/components/schemas/AlertDarkWebCredentialData'
        has_credit_card_data:
          type: boolean
          description: This is true if the report dark web contains associated credit card data. Data
            itself is not shown.
    AuditLog:
      title: AuditLog
      description: A log of the changes on a report.
      type: object
      properties:
        changed_by:
          type: string
          description: Email of the user who made the change, or "Doppel".
        value:
          type: string
          description: New log value
        timestamp:
          type: string
          format: date-time
          description: Timestamp when the change was made.
        type:
          type: string
          description: Type of audit log.
        metadata:
          title: Metadata
          description: Metadata for audit log.
          type: object
          properties:
            enforcement_request:
              description: Enforcement request information.
              type: object
              properties:
                platform:
                  description: Platform where the enforcement request was made.
                  type: string
                type:
                  description: Type of enforcement request.
                  type: string
            match:
              description: Match information.
              type: object
              properties:
                domain:
                  description: Domain information.
                  type: object
                  properties:
                    url:
                      description: URL associated with metadata.
                      type: string
    BrandResponse:
      title: BrandResponse
      description: Response model for a single brand
      type: object
      required:
      - id
      - name
      - brand_type
      - created_at
      properties:
        id:
          type: string
          description: Unique identifier for the brand
        name:
          type: string
          description: Brand name
        brand_type:
          type: string
          description: Brand type (e.g., organization_brand)
        created_at:
          type: string
          description: Timestamp when the brand was created
        updated_at:
          type: string
          description: Timestamp when the brand was last updated
    CreateProtectedAssetRequest:
      title: CreateProtectedAssetRequest
      description: Request model for creating a protected asset
      type: object
      required:
      - brand_ids
      - asset_value
      properties:
        brand_ids:
          type: array
          items:
            type: string
            format: uuid
          minItems: 1
          maxItems: 100
          description: List of brand IDs to associate with asset (1-100 brand IDs)
          example:
          - 123e4567-e89b-12d3-a456-426614174000
        asset_value:
          type: string
          description: The protected asset value (URL, handle, identifier, etc.)
          example: https://linkedin.com/company/example
    CreateProtectedAssetResponse:
      title: CreateProtectedAssetResponse
      description: Response model for created protected asset
      type: object
      required:
      - data
      - message
      properties:
        data:
          $ref: '#/components/schemas/ProtectedAssetResponse'
        message:
          type: string
          description: Success message
          example: Protected asset created successfully
    DeleteProtectedAssetResponse:
      title: DeleteProtectedAssetResponse
      description: Response model for deleted protected asset
      type: object
      required:
      - id
      - message
      properties:
        id:
          type: string
          description: ID of the deleted protected asset
          example: 123e4567-e89b-12d3-a456-426614174000
        message:
          type: string
          description: Success message
          example: Protected asset deleted successfully
    EntityContent:
      description: 'Content related to the entity of the alert, if available, for the following product
        types: domains, social media posts, social media users, social media groups, mobile apps, ecommerce,
        emails and paid advertisements. Object fields vary based on product type and availability.


        Possible keys and their fields:

        - `root_domain` (product: domains): `domain`, `registrar`, `ip_address`, `country_code`, `hosting_provider`,
        `contact_email`, `mx_records`, `nameservers`

        - `social_media_user` (product: social_media): `account_created_at`, `slug`, `profile_display_name`,
        `profile_image_url`, `profile_id`, `num_followers`, `profile_description`, `profile_display_url`

        - `social_media_post` (product: social_media): `external_created_at`, `num_upvotes`, `full_text`,
        `extra_urls`

        - `social_media_group` (product: social_media): `external_created_at`, `name`, `description`,
        `num_members`, `image_url`

        - `mobile_app` (product: mobile_apps): `external_created_at`, `title`, `platform_name`, `app_id`,
        `bundle_id`, `developer_id`, `developer_name`

        - `ecommerce` (product: ecommerce): `price`, `num_units`, `title`, `seller_name`, `description`,
        `telegram_link`

        - `email` (product: email): `subject`, `forwarder`, `sender`, `receiver`, `cc`, `bcc`, `eml_url`,
        `body`

        - `telco` (product: telco): `entity_created_at`, `entity_updated_at`, `country_code`, `telco_provider`

        - `advertisement_data` (product: paid_ads): `ad_detail_link`, `destination_url`, `text_content`,
        `date_first_shown`, `date_last_shown`, `advertiser_data`

        '
      type: object
      additionalProperties: true
    EntityState:
      description: 'The live status of the entity (URL, phone number, etc.) that the alert is tracking.

        - `active`: The entity is currently live/accessible.

        - `down`: The entity is no longer accessible (e.g. domain taken down).

        - `parked`: The domain is parked (registered but not hosting active content).

        - `suspicious`: The entity appears to be malicious or suspicious.

        - `unclassified`: The entity has not yet been classified.

        - `unrelated`: The entity has been determined to be unrelated to the brand.

        - `related`: The entity is related to the brand but not necessarily malicious.

        - `unknown`: The entity''s status cannot be determined.

        '
      type: string
      enum:
      - active
      - down
      - parked
      - suspicious
      - unclassified
      - unrelated
      - related
      - unknown
    ErrorResponse:
      title: ErrorResponse
      description: Standard error response returned for all non-2xx responses. Contains a single `message`
        field with a human-readable error description.
      type: object
      required:
      - message
      properties:
        message:
          type: string
          description: Human-readable error description.
          example: This is an error message
    FileActionType:
      description: 'Type of file operation to perform on an alert.

        - `upload`: Upload new files (file_to_upload is required for each file).

        - `delete`: Delete existing files (only file_name is required).

        '
      type: string
      enum:
      - upload
      - delete
    FileInput:
      description: A file to upload or delete.
      type: object
      required:
      - file_name
      properties:
        file_name:
          type: string
          description: Name of the file (e.g. "evidence.png"). Must not contain path separators or start
            with a dot.
        file_to_upload:
          type: string
          format: byte
          description: 'Base64-encoded file content. Required when file_action is "upload". Maximum file
            size is 50MB.

            Supported file extensions: .csv, .docx, .eml, .exe, .gif, .html, .jfif, .jpg, .jpeg, .js,
            .m4a, .mov, .mp3, .mp4, .msg, .odt, .pdf, .png, .pptx, .rtf, .snagx, .tsv, .txt, .wav, .webp,
            .xlsx, .zip (files with no extension are also accepted).

            For Telco alerts, uploaded image files may be copied into canonical screenshot storage and
            used as the alert screenshot. The uploaded-file copy remains separate from the screenshot
            copy.

            '
    FileResult:
      description: Result of an individual file operation.
      type: object
      properties:
        file_name:
          type: string
        success:
          type: boolean
        error:
          type: string
          description: Error message if the file operation failed. Only present when success is false.
    GetBrandResponse:
      title: GetBrandResponse
      description: Response model for list of brands
      type: object
      required:
      - data
      - count
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/BrandResponse'
        count:
          type: integer
          description: Total number of brands returned
    HrmCampaignResponse:
      type: object
      required:
      - id
      - name
      - status
      - campaign_type
      - is_test
      properties:
        id:
          type: string
          description: Campaign ID
        name:
          type: string
          description: Campaign name
        status:
          type: string
          description: Campaign status (e.g. pending, in_progress, finished)
        campaign_type:
          type: string
          description: Campaign type (e.g. simulation)
        launch_date:
          type: string
          description: ISO 8601 launch date
        end_date:
          type: string
          description: ISO 8601 end date
        created_at:
          type: string
          description: ISO 8601 creation timestamp
        is_test:
          type: boolean
          description: Whether this is a test campaign
    HrmEventPayload:
      type: object
      description: Payload type for the "HRM Event" webhook. Fired when a phishing simulation campaign
        engagement event is recorded (e.g., a target opens an attack email, clicks a link, submits data,
        completes training, or answers a vishing call).
      required:
      - action
      - campaign_id
      properties:
        action:
          type: string
          description: 'The engagement action that was recorded. Values come from the SimCampaignActions
            enum (e.g., email_opened, link_visited, data_submitted, quiz_passed) or voice behavior labels
            (e.g., refusal, disclosure_full, security_escalation).

            '
          example: link_visited
        campaign_id:
          type: string
          format: uuid
          description: ID of the phishing simulation campaign.
          example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        sim_user_id:
          type: string
          format: uuid
          nullable: true
          description: ID of the simulated user (target) who performed the action.
          example: 12345678-abcd-ef01-2345-6789abcdef01
        sim_attack_instance_id:
          type: string
          format: uuid
          nullable: true
          description: ID of the specific attack instance (email, SMS, voice call, etc.) the action relates
            to.
          example: abcdef01-2345-6789-abcd-ef0123456789
        source:
          type: string
          nullable: true
          description: Attack vector or source context (e.g., "qr_code", "link", "voice_followup_email",
            "voice_followup_sms").
          example: link
        device_type:
          type: string
          nullable: true
          description: Device type of the target user when the action was recorded.
          enum:
          - Desktop
          - Mobile
          - Tablet
          example: Mobile
    HrmEventResponse:
      type: object
      required:
      - id
      - campaign_id
      - action
      properties:
        id:
          type: string
          description: Event ID
        campaign_id:
          type: string
          description: Campaign ID this event belongs to
        action:
          type: string
[...]
